:root {
    --white: #fff;
    --platinum: #e8ebe4;
    --gray: #bec1bb;
    --blue-bell: #a491d2;
    --soap: #cdc3e6;
    --pale-lavander: #d4dcff;
    --dark-jungle: #1b1f21;
    --outer-space: #444749;
    --old-silver: #828485;
    --font1:'Roboto', sans-serif;
    --font2: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-size: 62.5%;
  
}

.container {
	margin: 0;
    padding: 0;
    display: flex;
}

.main {
    margin: 0;
	width: 82vw;
	height: 100vh;
    background-color: #F8F8F8; 
    display: flex;
    flex: column;
	justify-content: center;
	align-items: center;
	}
	
.start {
	width: 40vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}
.start-img {
    width: 15vw;
    display: flex;
	border-radius: 10px;
	justify-self: center;
}

.start-title {
	font-family: var(--font1);
	font-size: 4.5rem;
	margin-top: 2.5rem;
}

.start-instructions {
	font-family: var(--font2);
	width: 80%;
	font-size: 1.4rem;
	line-height: 2.5rem;
	
}

span {
	font-weight: bold;
	font-family: var(--font1);
}
.sidebar {
    width: 18vw;
	min-height: 100vh; 
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--gray);
}

.user-menu {
	display: flex;
	padding: 1rem 1rem;
	border-bottom: 1px solid var(--platinum);
	justify-content: space-between;
	
}

.user-avatar {
	width: 3rem;
	border: 1.5px solid var(--platinum);
	border-radius: 100px;
	margin: 0 1rem;
}

.user-status {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-self: left;
	justify-content: center;
	margin-right: 5rem ;

}


.user-status p:first-child {
	font-family: var(--font1);
	font-size: 1.4rem;
}

.user-status p:nth-child(2) {
	font-family: var(--font1);
	font-size: 1rem;
	color: var(--old-silver);
} 

.icon-container {
	display: flex;
	
	
	
		
}
.icon {
	align-self: center;
	color: var(--old-silver);
	margin: 0 1rem 0 0;
	font-size: 1.6rem;
	
}

.new-chat {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5rem 0;
	border-bottom: 1px solid var(--platinum);
}

.new-chat a {
	background-color: var(--blue-bell);
	color: var(--white);
	width: 65%;
	padding: 1.2rem 0;
	text-align: center;
	font-family: var(--font1);
	font-size: 1.4rem;
	text-decoration: none;
}

.new-chat a:hover {
	background-color: var(--soap);
}

.new-chat a:focus {
	background-color: var(--gray);
}

.contact {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1.1rem 0.5rem;
	border-bottom: 1px solid var(--platinum);
}
.contact-avatar {
	width: 3.5rem;
	border: 2px solid var(--platinum);
	border-radius: 100px;
	margin: 0 1rem 0 2rem;
}
 
.contact-info p:first-child {
	font-family: var(--font1);
	font-size: 1.4rem;
}

.contact-info p:nth-child(2) {
	font-family: var(--font2);
	font-size: 1.2rem;
} 